# Data Extraction sur Python

## 1. Extraction d'un fichier CSV

Base de données des brevets de l’INPI. Chaque brevet est géo-localisés à différents niveaux selon l'adresse des déposants et des inventeurs : pays, régions, départements, unités urbaines, communes.  
Source: https://drive.google.com/file/d/1sJysh-DSbystXz6rVz-nEzx4uQJZQhgN/view

In [10]:
import pandas as pd

patents = pd.read_csv('fr-esr-brevets-france-inpi-oeb.csv', delimiter=";")
patents.head()

,num_depot,origine,annees_publication,annees_delivrance,part,type_d_tablissement,num_siren,id_dep,com_code,com_nom,...,type,etab,domaine_technologique,sous_domaine_technologique,nom,brev_de,de_libelle,de_sd1_libelle,de_sd2_libelle,fe_id
0,1161944,France,2013,2013.0,Non,Grande Entreprise (GE),632012100,49478,75108,Paris 8e,...,Personne morale,Grande Entreprise (GE),Chimie,Chimie organique fine,L'oreal,Non,NaN,NaN,NaN,FE1
1,0400729,France,2005,2006.0,Non,Personne physique,NaN,12620,35238,Rennes,...,Personne physique,Personne physique,Chimie,Chimie alimentaire,delerue,Non,NaN,NaN,NaN,FE1
2,0512601,France,2007,NaN,Non,Personne physique,NaN,15837,91477,Palaiseau,...,Personne physique,Personne physique,"Electronique, électricité",Transmission d’informations numériques,gauthier,Oui,TIC,Télécommunications,NaN,FE1
3,1150006,France,2012,2014.0,Non,Personne physique;Personne physique,NaN,489;7548,"69034,69034","Caluire-et-Cuire,Caluire-et-Cuire",...,Personne physique;Personne physique,Personne physique;Personne physique,Autres,BTP,BERNARD;bernard,Non,NaN,NaN,NaN,FE1
4,1101373,France,2012,2014.0,Non,Entreprise de taille Intermédiaire (ETI),394342299,37732,94021,Chevilly-Larue,...,Personne morale,Entreprise de taille Intermédiaire (ETI),Instrumentation,Techniques de mesure,Aer,Oui,TIC,Autres TIC,NaN,FE1

In [11]:
# Supprimer les quatres dernières colonnes
patents.drop('de_libelle', inplace=True, axis=1)
patents.drop('de_sd1_libelle', inplace=True, axis=1)
patents.drop('de_sd2_libelle', inplace=True, axis=1)
patents.drop('fe_id', inplace=True, axis=1)
patents.head()

,num_depot,origine,annees_publication,annees_delivrance,part,type_d_tablissement,num_siren,id_dep,com_code,com_nom,...,region,code_region_inv,region_inv,secteur,type,etab,domaine_technologique,sous_domaine_technologique,nom,brev_de
0,1161944,France,2013,2013.0,Non,Grande Entreprise (GE),632012100,49478,75108,Paris 8e,...,Ile-de-France,"R11,R11,R11,R11","Ile-de-France,Ile-de-France,Ile-de-France,Ile-...",Privé,Personne morale,Grande Entreprise (GE),Chimie,Chimie organique fine,L'oreal,Non
1,0400729,France,2005,2006.0,Non,Personne physique,NaN,12620,35238,Rennes,...,Bretagne,R53,Bretagne,Personne physique,Personne physique,Personne physique,Chimie,Chimie alimentaire,delerue,Non
2,0512601,France,2007,NaN,Non,Personne physique,NaN,15837,91477,Palaiseau,...,Ile-de-France,R11,Ile-de-France,Personne physique,Personne physique,Personne physique,"Electronique, électricité",Transmission d’informations numériques,gauthier,Oui
3,1150006,France,2012,2014.0,Non,Personne physique;Personne physique,NaN,489;7548,"69034,69034","Caluire-et-Cuire,Caluire-et-Cuire",...,"Auvergne-Rhône-Alpes,Auvergne-Rhône-Alpes",R84,Auvergne-Rhône-Alpes,Personne physique;Personne physique,Personne physique;Personne physique,Personne physique;Personne physique,Autres,BTP,BERNARD;bernard,Non
4,1101373,France,2012,2014.0,Non,Entreprise de taille Intermédiaire (ETI),394342299,37732,94021,Chevilly-Larue,...,Ile-de-France,R11,Ile-de-France,Privé,Personne morale,Entreprise de taille Intermédiaire (ETI),Instrumentation,Techniques de mesure,Aer,Oui

## 2. Extraction d'un fichier JSON

Base de données: Panorama des festivals en PACA.  
Source: https://trouver.datasud.fr/dataset/panorama-des-festivals

In [13]:
json_file = pd.read_json('panorama-des-festivals.json')
festivals = pd.DataFrame(json_file['fields'].tolist())
festivals.head()

,dept_sk,coordonnees_insee,date_de_fin_ancien,mois_indicatif_en_chiffre_y_compris_double_mois,nom_departement,departement,periodicite,mois_habituel_de_debut,code_postal,complement_domaine,...,ndeg_de_l_edition_2018,ndeg_de_l_edition_2019,autres_communes,commentaires,soutenu_en_2017_par_le_ministere_de_la_culture,soutenu_en_2017_par_le_centre_national_du_cinema,soutenu_en_2017_par_le_centre_national_du_livre,soutenu_en_2017_par_le_centre_national_des_varietes,mois_indicatif,soutenu_en_2018_par_le_ministere_de_la_culture
0,13.0,"[43.5502689105, 4.9511813524]",2019-02-10,2.0,Bouches-du-Rhône,13,Annuelle,02 (février),13118,Cirque,...,20.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13.0,"[43.2999009436, 5.38227869795]",2019-03-31,2.0,Bouches-du-Rhône,13,Annuelle,02 (février),13001,Baroque et ancien,...,16.0,17.0,Saint Mitre les Remparts (13),NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,13.0,"[43.2999009436, 5.38227869795]",2019-03-31,3.0,Bouches-du-Rhône,13,NaN,03 (mars),13001,"Jazz, blues et musiques improvisées",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,83.0,"[43.1361589728, 5.93239634249]",2019-03-09,3.0,Var,83,Annuelle,03 (mars),83200,Musiques amplifiées ou électroniques,...,1.0,2.0,NaN,2ème édition. Festival exclusivement dédié au ...,NaN,NaN,NaN,NaN,NaN,NaN
4,13.0,"[43.2934843764, 5.56331273477]",2019-03-23,3.0,Bouches-du-Rhône,13,Annuelle,03 (mars),13400,NaN,...,19.0,20.0,NaN,NaN,oui,oui,NaN,NaN,NaN,NaN

In [16]:
# Combien y-a-t-il de festivals en PACA ?
total_festivals = len(festivals)
print(f"Il y a {total_festivals} festivals en Provence-Alpes-Côte d'Azur.")

Il y a 319 festivals en Provence-Alpes-Côte d'Azur.

In [18]:
# Quelles sont les 3 villes qui accueillent la majorité des festivals ?
city_counts = festivals.groupby('commune_principale').size().reset_index(name='count')
city_counts = city_counts.sort_values(by='count', ascending=False)
most_festivals_city1 = city_counts.iloc[0]['commune_principale']
most_festivals_city2 = city_counts.iloc[1]['commune_principale']
most_festivals_city3 = city_counts.iloc[2]['commune_principale']
print(f"Les 3 villes avec le plus de festivals sont {most_festivals_city1}, {most_festivals_city2} et {most_festivals_city3}.")

Les 3 villes avec le plus de festivals sont MARSEILLE, CANNES et AVIGNON.

In [20]:
# Quel est le mois de l'année le plus chargé en festivals ?
month_counts = festivals.groupby('mois_habituel_de_debut').size().reset_index(name='count')
month_counts = month_counts.sort_values(by='count', ascending=False)
most_festivals_month = month_counts.iloc[0]['mois_habituel_de_debut']
print(f"Le mois avec le plus de festivals est {most_festivals_month}.")

Le mois avec le plus de festivals est 07 (juillet).

## 3. Extraction depuis une base de données

Base de données contenant les clients, comptes et opérations d'une banque fictive.  
Source: http://alain.troesch.free.fr/2017/Fichiers/py066-ma_banque.db

In [35]:
# Installer puis importer le connecteur (ex : 'mysql.connector' ou 'sqlite3') :
import sqlite3

# Se connecter à la base de données en inscrivant la bonne configuration :
bank_db = sqlite3.connect('py066-ma_banque.db')

# Extraire des données à partir de la base puis fermer la connexion :
cursor = bank_db.cursor()
cursor.execute("SELECT nom, prenom, ville FROM client WHERE idclient = ?", ("1", ))
client = cursor.fetchone()
print(client)
#bank.close()

('Ewing', 'Grant', 'Strasbourg')

In [29]:
# 1. Donner le nom et le prénom de tous les clients.
cursor.execute("SELECT nom, prenom FROM client")
clients = cursor.fetchall()
print(clients)

[('Ewing', 'Grant'), ('Buck', 'Violet'), ('Hood', 'Isabelle'), ('Small', 'Germane'), ('Hancock', 'Vincent'), ('Mayo', 'Gwendolyn'), ('Dean', 'Emi'), ('Salinas', 'Debra'), ('Hunter', 'Jesse'), ('Morin', 'Fulton'), ('Duke', 'Aladdin'), ('Parsons', 'Leroy'), ('Coffey', 'Dominique'), ('Bird', 'Britanney'), ('Cooke', 'Julian'), ('Raymond', 'Venus'), ('Lynch', 'Austin'), ('Morgan', 'Edan'), ('Carpenter', 'Sage'), ('Valenzuela', 'Francis'), ('Rodriquez', 'Sylvia'), ('Perry', 'Isabella'), ('Beard', 'Jordan'), ('Clarke', 'Yvette'), ('Huber', 'April'), ('Joyner', 'Eliana'), ('Little', 'Leigh'), ('Reilly', 'Karina'), ('Gilmore', 'Sean'), ('Gates', 'Ora'), ('Hines', 'Wylie'), ('Thornton', 'Brenda'), ('Mclaughlin', 'Caldwell'), ('Schmidt', 'Dorian'), ('Hines', 'Rose'), ('Cooke', 'Jordan'), ('Gallegos', 'Otto'), ('Pennington', 'Adrian'), ('Howard', 'Brynne'), ('Sullivan', 'Isadora'), ('Cleveland', 'Yoshio'), ('Mcpherson', 'Cyrus'), ('Lee', 'Dustin'), ('Cobb', 'Alexandra'), ('Mays', 'Latifah'), ('Grant', 'Prescott'), ('Hill', 'Olivia'), ('Livingston', 'Adria'), ('Rush', 'Lev'), ('Shepard', 'Summer'), ('Rutledge', 'Maggy'), ('Shepherd', 'Isa'), ('Peters', 'Odette'), ('Maddox', 'Hammett'), ('Greer', 'Echo'), ('Burch', 'Rebecca'), ('Hunt', 'Madaline'), ('Peck', 'Keiko'), ('Roberson', 'Lewis'), ('Dumbledore', 'Albus'), ('Rogue', 'Severus'), ('Wells', 'Bethany'), ('Faulkner', 'Ramona'), ('Diaz', 'Ivory'), ('Booker', 'Ahmed'), ('Conrad', 'Sara'), ('Roy', 'Winifred'), ('Blanchard', 'Chiquita'), ('Green', 'Ulric'), ('Robles', 'Paloma'), ('Watts', 'Uma'), ('Barry', 'Xavier'), ('Gaines', 'Rosalyn'), ('Romero', 'Uriah'), ('Wilkinson', 'Ariana'), ('Aguirre', 'Amir'), ('MacGonagall', 'Minerva'), ('Montoya', 'Martina'), ('Eaton', 'Lacy'), ('Baldwin', 'Charity'), ('Mercer', 'Quinn'), ('Rojas', 'Lisandra'), ('Campos', 'Melissa'), ('Finley', 'Myra'), ('Gill', 'Mari'), ('Guerra', 'Leonard'), ('Floyd', 'Taylor'), ('Burns', 'Steel'), ('Hobbs', 'Sydney'), ('Fry', 'Sierra'), ('Little', 'Nero'), ('Weeks', 'Lamar'), ('Alvarado', 'Jerry'), ('Becker', 'Buckminster'), ('Short', 'Conan'), ('Koch', 'Alexa'), ('Sparks', 'Nina'), ('Mathews', 'Elmo'), ('Slater', 'Donovan'), ('Sparks', 'Steel')]

In [31]:
# 2. Donner le nom et le prénom des clients habitant à Paris.
cursor.execute("SELECT nom, prenom FROM client WHERE ville = 'Paris'")
clients = cursor.fetchall()
print(clients)

[('Hood', 'Isabelle'), ('Parsons', 'Leroy'), ('Grant', 'Prescott'), ('Hill', 'Olivia'), ('Fry', 'Sierra'), ('Becker', 'Buckminster')]

In [36]:
# 3. Donner les identifiants des comptes de type Livret A.
cursor.execute("SELECT idcompte FROM compte WHERE type = 'Livret A'")
accounts = cursor.fetchall()
print(accounts)

[(2,), (10,), (11,), (13,), (28,), (30,), (31,), (37,), (45,), (51,), (52,), (53,), (59,), (61,), (64,), (69,), (72,), (77,), (89,), (94,), (98,), (101,), (102,), (106,), (117,), (120,), (122,), (125,), (126,), (127,), (128,), (130,), (139,), (144,), (148,), (156,), (159,), (162,), (165,), (166,), (169,), (170,), (172,), (177,), (181,), (188,), (190,), (192,), (196,), (198,), (201,), (203,), (213,), (214,), (224,), (225,), (228,), (229,), (230,), (231,), (235,), (236,), (237,), (239,), (256,), (269,), (273,), (278,), (282,), (295,), (297,), (299,)]

In [37]:
# 4. Donner les identifiants des opérations de débit sur le compte d’identifiant égal à 1.
cursor.execute("SELECT idop FROM operation WHERE idcompte = '1'")
operations = cursor.fetchall()
print(operations)

[(582,), (650,), (722,), (836,)]

In [ ]:
# 5. Donner, sans doublon, les identifiants des propriétaires de livret A, classés par ordre croissant.

In [ ]:
# 6. Donner l’identifiant des clients n’ayant pas de livret A.

In [ ]:
# 7. Donner l’identifiant de compte et le type de compte des clients habitant à Paris.

In [ ]:
# 8. Donner la liste des comptes et les types de compte de Dumbledore.

In [ ]:
# 9. Donner le nombre de clients par ville, classé par ordre alphabétique de villes.

In [ ]:
# 10. Donner la ville ayant le plus de clients.

In [ ]:
# 11. Trouver le nombre d’opérations effectuées sur chaque compte.

In [ ]:
# 12. Trouver le nombre maximum d’opérations effectuées sur un compte.

In [ ]:
# 13. Trouver le ou les numéros de compte réalisant le maximum de la question précédente.

In [ ]:
# 14. Afficher, type par type, la moyenne des soldes des comptes (tous clients confondus) de chaque type (en supposant qu’initialement, les comptes sont tous vides).

In [ ]:
# 15. Afficher, classé par nom et prénom, le nom, le prénom, le type de compte, et le solde, pour tous les comptes.

In [ ]:
# 16. Même question, en se limitant aux clients dont le nom commence par K,L,M ou N.

In [ ]:
# 17. Afficher le nom et le prénom des personnes ayant débité au moins un chèque sur leur compte courant, classé par nom.

In [ ]:
# 18. Nom, prénom et ville de tous les clients ayant réalisé un nombre maximal d’opérations au guichet.

In [ ]:
# 19. Moyenne par ville des fortunes totales des clients (somme sur tous leurs comptes), classé par valeur croissante.

## 4. Extraction en scrapant le web

Récupérer la liste complète des députés de France ainsi que leurs adresses e-mail.  
Source: https://www.nosdeputes.fr/deputes

In [ ]:
# Utiliser le module BeautifulSoup

## 5. Extraction à partir d'une API

Trouver une autre API intéressante car Twitter out.  
https://www.askpython.com/python/examples/pull-data-from-an-api